.body {
  width: 100%;
  margin: 0 auto;
}

.container-forgot {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
}

.wrap-forgot {
  width: 80%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
}

.subheading {
  padding-top: 1.5rem;
}

.label {
  padding-top: 2rem;
  font-weight: bold;
  font-size: 20px;
  color: gray;
}

.email-input {
  width: 40%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.email-input > input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.underline-animation {
  transition: all 0.5s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #64e4fe;
}
.email-input > input[type="text"]:focus + .underline-animation {
  left: 0;
}

.send-btn {
  margin-top: 2rem;
  width: 10%;
  align-self: left;
  background-color: #9053c7;
  color: white;
  border: #9053c7;
  border-radius: 10px;
  height: max-content;
  width: max-content;
  padding: 0.5rem;
}
