.heading {
  font-size: 2vw;
  color: white;
  margin-left: 2rem;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #665cac;
  max-height: 5rem;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.buttons {
  margin-right: 1rem;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.searchbar {
  width: 40%;
  height: 2.7rem;
  margin-left: 22%;
  border-radius: 25px;
  padding-left: 1rem;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
}

.searchbar:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 800px) {
  .heading {
    font-size: 25px;
  }

  .searchbar {
    width: max-content;
  }
}
